@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    ViewData["AppClass"] = "app-full-height app-without-header app-full-width";
    ViewData["AppWithoutHeader"] = true;
    ViewData["AppWithoutSidebar"] = true;
    ViewData["AppWithoutContainer"] = true;
}

<!-- BEGIN login -->
<div class="login">
	<!-- BEGIN login-content -->
	<div class="login-content">
    <form id="account" method="post">
			<h1 class="text-center">Sign In</h1>

			<div class="text-muted text-center mb-4">
				For your protection, please verify your identity.
			</div>
      <div asp-validation-summary="All" class="text-danger"></div>
			<div class="mb-3">
				<label class="form-label" asp-for="Input.Email"></label>
				<input asp-for="Input.Email" class="form-control form-control-lg fs-15px" placeholder="username@address.com" />
				<span asp-validation-for="Input.Email" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<div class="d-flex">
					<label asp-for="Input.Password" class="form-label">Password</label>
					<a id="forgot-password" asp-page="./ForgotPassword" class="ms-auto text-muted">Forgot password?</a>
				</div>
				<input asp-for="Input.Password" class="form-control form-control-lg fs-15px" value="" placeholder="Enter your password" />
        <span asp-validation-for="Input.Password" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<div class="form-check">
					<input class="form-check-input" asp-for="Input.RememberMe" />
					<label class="form-check-label fw-500" asp-for="Input.RememberMe">@Html.DisplayNameFor(m => m.Input.RememberMe)</label>
				</div>
			</div>
			<button type="submit" class="btn btn-primary btn-lg d-block w-100 fw-500 mb-3">Sign In</button>
			<div class="text-center text-muted">
				Don't have an account yet? <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Sign up</a>.
			</div>
            @*Adding this manually since it wasn't provided stock*@
            <div class="text-center text-muted">
                Didn't get your activation email?<a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend confirmation</a>
            </div>
		</form>

        @*3rd Party Login*@
        @*Need to set up GULP*@
        <div id="thirdPartyLogin">
            <h3>Use another service to log in.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                                article
                                about setting up this ASP.NET application to support logging in via external services
                            </a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </div>

	</div>
	<!-- END login-content -->
</div>
<!-- END login -->

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
