@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    var menuController = (ViewContext.RouteData.Values["controller"] != null) ? ViewContext.RouteData.Values["controller"].ToString() : null;
    var menuAction = (ViewContext.RouteData.Values["action"] != null) ? ViewContext.RouteData.Values["action"].ToString() : null;
    var sidebarMenu = Configuration.GetSection("sidebarMenu").GetChildren().ToArray();
}

<!-- BEGIN #sidebar -->
<div id="sidebar" class="app-sidebar">

    <!-- BEGIN scrollbar -->
    <div class="app-sidebar-content" data-scrollbar="true" data-height="100%">

        <!-- BEGIN menu -->
        <div class="menu">
            @foreach (var menu in sidebarMenu)
            {
                var menuChildren = menu.GetSection("children").GetChildren().ToArray();

                // First-level menu header should be valid for any contained controllers
                var menuControllers = menu["controllers"] ?? String.Empty;
                var validMenuControllers = menuControllers.Split(',');

                // Handle headers and dividers
                @if (menu["is_header"] != null)
                {
                    <div class="menu-header">
                        @menu["text"]
                    </div>
                }else if(menu["is_divider"] != null)
                {
                    <div class="menu-divider"></div>
                }
                else
                {
                    <div class="menu-item @(validMenuControllers.Contains(menuController) ? "active" : "") @(menuChildren.Length > 0 ? "has-sub" : "")">

                        @* If this is an actual menu link*@
                        @if (menu["action"] != null && menu["controller"] != null)
                        {
                            <a asp-controller="@menu["controller"]" asp-action="@menu["action"]" asp-area="@menu["area"]" class="menu-link">
                                <span class="menu-icon">
                                    @if (menu["icon"] != null)
                                    {
                                        <i class="@menu["icon"]"></i>
                                    }
                                    @if (menu["label"] != null)
                                    {
                                        <span class="menu-icon-label">@menu["label"]</span>
                                    }
                                </span>
                                <span class="menu-text">@menu["text"]</span>
                            </a>
                        }
                        @* If it's not a real link, it must be a menu trigger*@
                        else
                        {
                            <a href="#" class="menu-link">
                                <span class="menu-icon">
                                    @if (menu["icon"] != null)
                                    {
                                        <i class="@menu["icon"]"></i>
                                    }
                                    @if (menu["label"] != null)
                                    {
                                        <span class="menu-icon-label">@menu["label"]</span>
                                    }
                                </span>
                                <span class="menu-text">@menu["text"]</span>
                                @if (menuChildren.Length > 0)
                                {
                                    <span class="menu-caret"><b class="caret"></b></span>
                                }
                            </a>
                        }
                        @*If the menu item has 2nd-level children*@
                        @if (menuChildren.Length > 0)
                        {
                            <div class="menu-submenu">

                                @*Iterate over 2nd-level children*@
                                @foreach (var submenu in menuChildren)
                                {

                                    var subMenuChildren = submenu.GetSection("children").GetChildren().ToArray();
                                    var secondLevelMenuItemActive = ((menuAction == @submenu["action"]) && (menuController == @submenu["controller"]));

                                    // If the 2nd-level node doesn't have children, just generate a link to the controller action
                                    if (subMenuChildren.Length == 0)
                                    {
                                        // Determine the querystring name and values
                                        var routeExists = (submenu["routevarname"] != null & submenu["routevarvalue"] != null);
                                        var routeValues = new Dictionary<string, string>();
                                        var target = submenu["target"] ?? "_self";

                                        if (routeExists)
                                        {
                                            routeValues.Add(submenu["routevarname"], submenu["routevarvalue"]);
                                            var routeValuesMatch = false;
                                            if (ViewContext.RouteData.Values.ContainsKey(submenu["routevarname"]))
                                            {
                                                if (ViewContext.RouteData.Values[submenu["routevarname"]].ToString() == submenu["routevarvalue"])
                                                {
                                                    routeValuesMatch = true;
                                                }
                                            }
                                            secondLevelMenuItemActive &= routeValuesMatch;
                                        }

                                        <div class="menu-item @(secondLevelMenuItemActive ? "active" : "")">
                                            <a asp-all-route-data="routeValues" asp-controller="@submenu["controller"]" asp-action="@submenu["action"]" asp-area="@submenu["area"]" target="@target" class="menu-link">
                                                <span class="menu-text">@submenu["text"]</span>
                                            </a>
                                        </div>
                                    }
                                    // If the 2nd-level node does have children, we need to process them the same as the 1st-level items
                                    else
                                    {
                                        <div class="menu-item @(menuController == @submenu["controller"] ? "active" : "") @(menuChildren.Length > 0 ? "has-sub" : "")">
                                            @if (submenu["action"] != null && submenu["controller"] != null)
                                            {

                                                <a asp-controller="@submenu["controller"]" asp-action="@submenu["action"]" asp-area="@submenu["area"]" class="menu-link">
                                                    <span class="menu-icon">
                                                        @if (submenu["icon"] != null)
                                                        {
                                                            <i class="@submenu["icon"]"></i>
                                                        }
                                                        @if (submenu["label"] != null)
                                                        {
                                                            <span class="menu-icon-label">@submenu["label"]</span>
                                                        }
                                                    </span>
                                                    <span class="menu-text">@submenu["text"]</span>
                                                </a>
                                            }
                                            else
                                            {
                                                <a href="#" class="menu-link">
                                                    <span class="menu-icon">
                                                        @if (submenu["icon"] != null)
                                                        {
                                                            <i class="@submenu["icon"]"></i>
                                                        }
                                                        @if (submenu["label"] != null)
                                                        {
                                                            <span class="menu-icon-label">@submenu["label"]</span>
                                                        }
                                                    </span>
                                                    <span class="menu-text">@submenu["text"]</span>
                                                    @if (menuChildren.Length > 0)
                                                    {
                                                        <span class="menu-caret"><b class="caret"></b></span>
                                                    }
                                                </a>
                                            }
                                            <div class="menu-submenu">

                                                @*Iterate over 3rd-level children*@
                                                @foreach (var thirdMenu in subMenuChildren)
                                                {
                                                    // Determine the route name and values
                                                    var routeExists = (thirdMenu["routevarname"] != null & thirdMenu["routevarvalue"] != null);
                                                    var routeValues = new Dictionary<string, string>();
                                                    var menuIsActive = (menuAction == @thirdMenu["action"]);
                                                    var target = thirdMenu["target"] ?? "_self";

                                                    if (routeExists)
                                                    {
                                                        routeValues.Add(thirdMenu["routevarname"], thirdMenu["routevarvalue"]);
                                                        var routeValuesMatch = false;
                                                        if (ViewContext.RouteData.Values.ContainsKey(thirdMenu["routevarname"]))
                                                        {
                                                            if (ViewContext.RouteData.Values[thirdMenu["routevarname"]].ToString() == thirdMenu["routevarvalue"])
                                                            {
                                                                routeValuesMatch = true;
                                                            }
                                                        }
                                                        menuIsActive &= routeValuesMatch;
                                                    }

                                                    <div class="menu-item @(menuIsActive ? "active" : "")">
                                                        <a asp-all-route-data="routeValues" asp-controller="@thirdMenu["controller"]" asp-action="@thirdMenu["action"]" asp-area="@thirdMenu["area"]" target="@target" class="menu-link">
                                                            <span class="menu-text">@thirdMenu["text"]</span>
                                                        </a>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        }
                    </div>
                }
            }
            <div class="menu-item">
            	<a href="/Identity/Account/Manage" class="menu-link">
            		<span class="menu-icon">
									<i class="fa fa-fingerprint"></i>
								</span>
								<span class="menu-text">ASP Identity</span>
            	</a>
            </div>
            <div class="p-3 px-4 mt-auto hide-on-minified">
                <a href="#" class="btn d-block w-100 btn-secondary font-weight-600 rounded-pill">
                    <i class="fa fa-code-branch me-1 ms-n1 opacity-5"></i> Documentation
                </a>
            </div>
        </div>
        <!-- END menu -->
    </div>
    <!-- END scrollbar -->
    <!-- BEGIN mobile-sidebar-backdrop -->
    <button class="app-sidebar-mobile-backdrop" data-dismiss="sidebar-mobile"></button>
    <!-- END mobile-sidebar-backdrop -->
</div>
<!-- END #sidebar -->